# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# pdf files
*.pdf

# textedit files - my notes
*.rtf

# troepie woepies
.DS_Store
mlx/mlx_image.swiftdoc
mlx/mlx_image.swiftmodule
mlx/mlx_init.swiftdoc
mlx/mlx_init.swiftmodule
mlx/mlx_window.swiftdoc
mlx/mlx_window.swiftmodule

textures/momo.xpm
Screenshot 2021-04-22 at 17.16.58.png
Screenshot 2021-04-22 at 17.17.02.png
Screenshot 2021-04-22 at 17.17.07.png
Screenshot 2021-04-22 at 17.17.12.png
Screenshot 2021-04-22 at 17.17.16.png
Screenshot 2021-04-22 at 17.17.20.png
